body {
    margin: 8px;
}



.nav-wrapper {
    display: flex;
    justify-content: center;
    
}
.nav-wrapper>.center>.Brand{
    justify-content: center;
    border: solid black 2px;
    width: 111px;
    text-align: center;
    
}

.parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.content-wrapper{
    position: relative;
    left: 300px;
    top: -150px;

}
.content-wrapper1{
    position: relative;
    left: 300px;
    top: -200px;

}
.content-wrapper2{
    position: relative;
    left: 300px;
    top: -150px;

}
.content-wrapper3{
    position: relative;
    left: 300px;
    top: -200px;

}
.content-wrapper4{
    position: relative;
    left: 300px;
    top: -150px;

}

.parent-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content-wrapper5{
    position: relative;
    left: 300px;
    top: -190px;
}

.content-wrapper6{
    position: relative;
    left: 300px;
    top: -150px;
}

.content-wrapper7{
    position: relative;
    left: 300px;
    top: -190px;
}

.content-wrapper8{
    position: relative;
    left: 300px;
    top: -150px;
}
.content-wrapper9{
    position: relative;
    left: 300px;
    top: -150px;
}

.signage{
    position: absolute;
    right: 0px;
    bottom: 400px;

}

.signage2{
    position: absolute;
    right: 350px;
    bottom: 0px;
}

.signage3{
    position:absolute;
    right: -190px;
    bottom: -150px;
}